@model AppReservation.Models.Role
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateRole</h1>

<div class="border container">
    <form mothod="post" asp-action="CreateRole">

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="RoleName"></label>
            </div>
            <div class="col-6">
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    Create Role
                </button>
            </div>

        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}